@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #1152d4;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  
  --font-display: "Inter", sans-serif;
  
  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    @apply font-display antialiased;
    -webkit-tap-highlight-color: transparent;
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
